{% extends 'base.html' %}

{% block header %}
  <h1 class="omega-header">{% block title %}Pending Submissions{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2 class="omega-header">Account verification</h2>
  <table style="color: white; width: 80vw;">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      {% if user.participating == 0 and user.id_image %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
          <td>
            <img src="{{ url_for('static', filename=('img/' + 'users/' + user.username +'/'+ user.id_image )) }}" alt="Submission Image" width="200">
          </td>
          <td>
          <form method="post" action="{{ url_for('main.admin_pending') }}">
            <input type="hidden" name="type" value="account">
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="challenge_id" value="{{ challenge_id }}">
            <button type="submit" name="action" value="approve">Approve</button>
            <button type="submit" name="action" value="reject">Reject</button>
          </form>
          </td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h2 class="omega-header">Challenge submissions</h2>
  <table style="color: white; width: 80vw;">
    <thead>
      <tr>
        <th>Username</th>
        <th>Challenge ID</th>
        <th>image</th>
        <th>file name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        {% for challenge_id, challenge in json.loads(user.completed)['challenges'].items() %}
          {% for submission in challenge %}
            {% if submission[0] == 'pending' %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ challenge_id }}</td>
                <td>
                  <img src="{{ url_for('static', filename=('img/' + 'users/' + user.username + '/submissions/' + submission[1])) }}" alt="Submission Image" width="200">
                  {% if challenge_id == "18" %} <!--remember to change    this system is not great...-->
                    <p>Assassination target: {{user.target}}</p>
                    <img src="{{ url_for('static', filename=('img/' + 'users/' + user.target + '/submissions/' + user.target_pic)) }}" alt="Target Image" width="200">
                  {% endif %}
                </td>
                <td>{{ submission[1] }}</td>
                <td>
                <form method="post" action="{{ url_for('main.admin_pending') }}">
                  <input type="hidden" name="type" value="challenge">
                  <input type="hidden" name="username" value="{{ user.username }}">
                  <input type="hidden" name="challenge_id" value="{{ challenge_id }}">
                  <input type="hidden" name="submission_number" value="{{ loop.index }}">
                  {% if challenges[(challenge_id | int) - 1].points == -1 %}
                    <input name = "points_awarded" required placeholder="points...">
                  {% endif %}
                  <button type="submit" name="action" value="approve">Approve</button>
                  <button type="submit" name="action" value="reject">Reject</button>
                </form>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}