{% extends 'base.html' %}

{% block js %}
<script defer src="{{ url_for('static', filename='js/submission.js') }}"></script>
{% endblock %}
{% block header %}
  <h1 class="play-regular omega-header">{% block title %}change profile picture{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p style="color: white">Submit profile photo:</p>
  <form method="post" enctype="multipart/form-data" >
    <label id="drop-zone">
      Drop image here, or click to upload.
      <input type="file" id="file-input" name="pfp" accept="image/*" />
    </label>
    <ul id="preview" style="color: white"></ul>
    <button id="clear-btn" type="button">Clear</button>
    <input type="submit" value="Submit profile picture">
  </form>
  <br class="spacing">
  <br class="spacing">
  <a href="{{ url_for('dark.maze') }}" style="color: rgb(120, 120, 120); margin-top: 40px; text-decoration: none; font-size: large;">ρ</a>
{% endblock %}