{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Leaderboard{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Score</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ loop.index}}</td>
      <td><img src="{{ url_for('static', filename=user.pfp) }}" alt="Profile Picture" class="profile-pic-small"><p style="vertical-align: top; display: inline-block;">{{ user.username }}</p></td>
      <td>{{ user.points }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}