{% extends 'base.html' %}

{% block header %}
  <h1 class="play-regular omega-header">{% block title %}Leaderboard{% endblock %}</h1>
{% endblock %}

<body style="background-color: darkred;"
class="play-regular;"
style="color: aliceblue;"
></body>

{% block content %}
  <table>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Score</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ loop.index}}</td>
      <td>
        <a href="{{ url_for('main.view_profile', username=parse.quote(user.username)) }}" style="color: white;">
          <img src="{{ url_for('static', filename=user.pfp) }}" alt="Profile Picture" class="profile-pic-small"><p style="vertical-align: top; display: inline-block;">
          <p>
            {{ user.username }}
          </p>
        </a>
      </td>
      <td>{{ user.points }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}