{% extends 'base.html' %}

{% block header %}
  <h1 class="play-regular omega-header">{% block title %}Leaderboard{% endblock %}</h1>
{% endblock %}



{% block content %}
  <table style="background-color: darkred;color: aliceblue;
margin: 0px auto;"
class="play-regular;">
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Score</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ loop.index}}</td>
      <td>
        <a href="{{ url_for('main.view_profile', username=parse.quote(user.username)) }}" style="color: white;">
          <img src="{{ url_for('static', filename=(user.pfp or 'img/placeholder-pfp.png')) }}" alt="Profile Picture" class="profile-pic-small"><br><span style="vertical-align: middle; display: inline-block;">{{ user.username }}</span>
        </a>
      </td>
      <td>{{ user.points }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}