{% extends "dark_base.html" %}
{% block js %}
    <script defer src="{{ url_for('static', filename='js/maze.js') }}"></script>
{% endblock %}
{% block content %}
    <div class= 'frame' style="height: 100%; vertical-align: middle; text-align: center;">
        <img id="0" src="{{ url_for('static', filename='img/dark/maze0.jpg') }}" alt="Maze" style="display: flex; margin: auto; width: 60%; height: auto; vertical-align: middle;">
        <img id="1" src="{{ url_for('static', filename='img/dark/maze1.png') }}" alt="Maze" style="display: none; margin: auto; width: 60%; height: auto; vertical-align: middle;">
        <img id="2" src="{{ url_for('static', filename='img/dark/maze2.png') }}" alt="Maze" style="display: none; margin: auto; width: 60%; height: auto; vertical-align: middle;">
        <img id="3" src="{{ url_for('static', filename='img/dark/maze3.webp') }}" alt="Maze" style="display: none; margin: auto; width: 60%; height: auto; vertical-align: middle;">
        <img id="4" src="{{ url_for('static', filename='img/dark/maze4.jpg') }}" alt="Maze" style="display: none; margin: auto; width: 60%; height: auto; vertical-align: middle;">
        <img id="5" src="{{ url_for('static', filename='img/dark/maze5.jpg') }}" alt="Maze" style="display: none; margin: auto; width: 60%; height: auto; vertical-align: middle;">
        <img id="6" src="{{ url_for('static', filename='img/dark/maze6.jpg') }}" alt="Maze" style="display: none; margin: auto; width: 60%; height: auto; vertical-align: middle;">

    </div>
    <form method="post" action="{{url_for('dark.collect_tape')}}">
        <input type="hidden" name="tape_id" value="2">
        <button type="submit" id="submit-button" class="tape-button" style="display: none; margin: auto">get tape</button>
    </form>
{% endblock %}