<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %} - The Omega Games</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block js %}{% endblock %}
</head>

<body>
    <nav id="navbar">
    <h3>The Omega Games</h3>
    <ul id="nav-links">
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li> 
        <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        {% if datetime.fromisoformat("2026-04-13T07:00:00") < datetime.now() %} <!-- update -->
        <li><a href="{{ url_for('main.leaderboard') }}">Leaderboard</a></li>
        {% else %}
        <li>
            <img style="scale: 0.8; margin: 0; padding: 0; vertical-align: bottom" src="{{ url_for('static', filename='img/icons8-lock-26.png') }}">
            <a style="pointer-events: none; color: gray; vertical-align: middle; display: inline; padding-left: 0;">Leaderboard</a>
        </li>
        {% endif %}
    </ul>
    </nav>
    <section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    </section>
    <container id="footer">
        <p>&copy; 2026 The Omega Games. All rights reserved.</p>
        <a href="https://instagram.com/chsomegagames/">Follow us on Instagram</a>
        <p>Created by Omega(Ω), Pi(Π), and Phi(Φ)</p>
    </container>
</body>

</html>
