<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title class="play-regular">{% block title %}{% endblock %} - The Omega Games</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block js %}{% endblock %}
</head>

<body style="background-color: black;">
    <nav id="navbar" style="color:aliceblue">
    <h3 class="play-regular">The Omega Games </h3>
    <ul id="nav-links" style="color:aliceblue">
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('main.profile') }}" style="color:aliceblue">Profile</a>
        <li><a href="{{ url_for('auth.logout') }}" style="color:aliceblue">Log Out</a>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}" style="color:aliceblue">Register</a>
        <li><a href="{{ url_for('auth.login') }}" style="color:aliceblue">Log In</a>
        {% endif %}
        <li><a href="{{ url_for('main.index') }}" style="color:aliceblue">Home</a>
        <li><a href="{{ url_for('main.leaderboard') }}" style="color:aliceblue">Leaderboard</a>
    </ul>
    </nav>
    <section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    </section>
    <container id="footer">
        <p>&copy; 2026 The Omega Games. All rights reserved.</p>
        <a href="placeholder" style="color:aliceblue">Follow us on Instagram</a>
        <p>Created by Omega(Ω), Pi(Π), and Phi(Φ)</p>
    </container>
</body>

</html>
